<h1>A List of Your Amazing Contacts:</h1>

<ol>
  <% @contacts.each() do |contact| %>
    <li><a href="/contacts/<%= contact.contact_id() %>">
        <%= contact.first_name().capitalize.+" ".+(contact.last_name.capitalize) %></a></li>
  <% end %>
</ol>
