<h1>Add Your Contact</h1>

<form action='/contacts' method='post' placeholder='Add contact here'>
  <label for='contact_name'>Contact Name:</label>
  <input id='first_name' name='first_name' type='text' placeholder='First Name'>
  <input id='last_name' name='last_name' type='text' placeholder='Last Name'>
  <button type='submit'>Add Contact</button>
</form>
